#bigWrapper{
	text-align: center;
}

#menuBar {
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width:60%;
	z-index: 999;
}

.sectionDivs {
/*	border: 1px solid;*/
	width: 80%;
	text-align: left;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
}

.picDescrips {
	text-align: right;
	font-size: 10px;
}

.hidden {
	display: none;
}

.resumeSections {
	text-align: center;
	color: #0CBDE8;
}

.currentPosition {
	color: #98C000
}

#key.currentPosition {
	text-align: end; 
}

.pictures {
	text-align: center
}

p {
 	font-family: Optima;
    font-size: 16px; 
}
    
.header {
	text-align:right;
	font-size: 36px;
}

.blurred {
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}