#menuBar {
position:absolute;
left:10px;
top:10px;

}


#homeDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
} 

#homeDiv.hidden {
        display: none;
}

#welcomeDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
}

#meDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
}

#meDiv.hidden {
        display: none;
}


2
#resumeDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
height: 600px;
overflow: scroll;
}

#resumeDiv.hidden {
        display: none;
}

.resumeSections {


text-align: center;
color: #0CBDE8;

}

.currentPosition {
color: #98C000
}

#key.currentPosition {
text-align: end; 
}


#projectsDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
}

#projectsDiv.hidden {
        display: none;
}


#contactDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
}

#contactDiv.hidden {
display: none;
}

.pictures {
text-align: center
}

#bodyDiv {
position:absolute;
right:10px;
top:10px;
width: 800px;
} 

#bodyDiv.hidden {
display: none;
}

.hidden {
display: none;
}


p {
 	font-family: Optima;
    font-size: 16px; 
}
    
.header {
text-align:right;
font-size: 36px;

}

    
    